@import url("https://fonts.googleapis.com/css2?family=Asap&family=Caveat&family=Open+Sans:wght@300&family=Sansita+Swashed:wght@300&display=swap");

body {
  background-image: linear-gradient(
    to right,
    rgb(90, 183, 245),
    rgb(5, 110, 136)
  );
  color: white;
  margin: 0;
  font-family: "Asap", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}
